<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sqliteexample">
    
    <permission android:name="com.example.sqliteexample.permission.ACCESS_PROVIDER"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:authorities="com.example.sqliteexample"
            android:name=".UsuariosProvider"
            android:grantUriPermissions="true"
            android:exported="true"
            android:permission="com.example.sqliteexample.permission.ACCESS_PROVIDER"/>
        <activity android:name=".NuevoUsuarioAcitivty"></activity>
        <activity android:name=".ActualizarUsuarioActivity" />
        <activity android:name=".UsuarioActivity" />
        <activity android:name=".GestionUsuariosActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>